.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.nav-links ul {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.nav-links li {
  list-style-type: none;
}

.tv-shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}
