body {
  background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
  color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
  background-repeat: no-repeat;
}

.nav-links ul {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.nav-links li {
  list-style-type: none;
}

.tv-shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 700;
}

.logo > img {
  width: 50px;
  height: 50px;
}
